@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




:root {
    --main-color: oklch(38.1% 0.176 304.987);
    --white: oklch(92% 0.004 286.32);
    --black: oklch(21% 0.006 285.885);
    --gray: oklch(70.5% 0.015 286.067);
}



* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


main {
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#header {
    background-color: var(--main-color);
    width: 100%;
    text-align: center;
    color: whitesmoke;
}


#footer {
    border-top: 2px solid var(--gray);
    width: 50%;
    padding: 10px;
    text-align: center;
    color: var(--gray);
}


h1 {
    font-size: 80px;
    padding: 5px;
    &:hover {
        color: orange;
    }
}


#main-container {
    background-color: whitesmoke;
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 1rem;
    overflow: hidden;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    margin-top: 10px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #4CAF50;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}


#slider-container {
    background-color: orange;
    width: 25%;
    padding: 20px;
    border-radius: 1rem;
}


#demo {
    font-size: x-large;
}
