@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




:root {
    --slate-300: oklch(86.9% 0.022 252.894);
    --purple-900: oklch(38.1% 0.176 304.987);
}



* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


main {
    background-color: var(--slate-300);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#app-title {
    background-color: var(--purple-900);
    width: 100%;
    text-align: center;
    color: whitesmoke;
}


h1 {
    font-size: 80px;
    padding: 5px;
    &:hover {
        color: orange;
    }
}

#main-container {
    background-color: whitesmoke;
    width: calc(100vw - 100px);
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 1rem;
}


