@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




:root {
    --slate-300: oklch(86.9% 0.022 252.894);


}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


main {
    background-color: var(--slate-300);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    color: blue;
    font-size: xxx-large;
    &:hover {
        color: orange;
    }
}

#main-container {
    background-color: whitesmoke;
    width: calc(100vw - 100px);
    height: calc(100vh - 300px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
}


